@if (transactions$ | async; as transactions) {
  <div class="card">
    <p-toast />

    <app-transactions-list-header-toolbar />

    <p-table
      #dt
      [value]="transactions"
      [rows]="10"
      [columns]="cols"
      [paginator]="true"
      [globalFilterFields]="['type', 'amount', 'date', 'category']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedTransactions"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} transações"
      [showCurrentPageReport]="true"
    >
      <ng-template #header>
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox />
          </th>
          <th style="min-width: 3rem">#</th>
          <th pSortableColumn="type" style="min-width: 10rem">
            <div class="flex gap-2 items-center">
              Tipo
              <p-sortIcon field="type" />
            </div>
          </th>
          <th pSortableColumn="amount" style="min-width: 10rem">
            <div class="flex gap-2 items-center">
              Valor
              <p-sortIcon field="amount" />
            </div>
          </th>
          <th pSortableColumn="category" style="min-width: 10rem">
            <div class="flex gap-2 items-center">
              Categoria
              <p-sortIcon field="category" />
            </div>
          </th>
          <th pSortableColumn="date" style="min-width: 12rem">
            <div class="flex gap-2 items-center">
              Data
              <p-sortIcon field="date" />
            </div>
          </th>
          <th style="min-width: 12rem"></th>
        </tr>
      </ng-template>
      <ng-template #body let-transaction>
        <tr>
          <td style="width: 3rem">
            <p-tableCheckbox [value]="transaction" />
          </td>
          <td style="min-width: 3rem">{{ transaction.id }}</td>
          <td>
            <p-tag [value]="transaction.type" [severity]="getTransactionTypeColor(transaction.type)" />
          </td>
          <td>{{ transaction.amount.toString() }}</td>
          <td>{{ transaction.category | titlecase }}</td>
          <td>{{ transaction.date | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              (click)="editTransaction(transaction)"
            />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (click)="deleteTransaction(transaction)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog [(visible)]="newTransactionDialog" [style]="{ width: '450px' }" header="Nova transação" [modal]="true">
      <ng-template #content>
        <div class="flex flex-col gap-6">
          <div>
            <label for="name" class="block mb-3 font-bold">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus fluid />
            <small class="text-red-500" *ngIf="submitted && !product.name">Name is required.</small>
          </div>
          <div>
            <label for="description" class="block mb-3 font-bold">Description</label>
            <textarea
              id="description"
              pTextarea
              [(ngModel)]="product.description"
              required
              rows="3"
              cols="20"
              fluid
            ></textarea>
          </div>

          <div>
            <label for="type" class="block mb-3 font-bold"> Tipo da transação </label>
            <p-select
              [(ngModel)]="transaction.type"
              inputId="type"
              [options]="transactionTypes"
              optionLabel="label"
              placeholder="Selecione o tipo da transação"
              fluid
            />
          </div>

          <div>
            <span class="block mb-4 font-bold">Category</span>
            <div class="grid grid-cols-12 gap-4">
              <div class="flex col-span-6 gap-2 items-center">
                <p-radiobutton id="category1" name="category" value="Accessories" [(ngModel)]="product.category" />
                <label for="category1">Accessories</label>
              </div>
              <div class="flex col-span-6 gap-2 items-center">
                <p-radiobutton id="category2" name="category" value="Clothing" [(ngModel)]="product.category" />
                <label for="category2">Clothing</label>
              </div>
              <div class="flex col-span-6 gap-2 items-center">
                <p-radiobutton id="category3" name="category" value="Electronics" [(ngModel)]="product.category" />
                <label for="category3">Electronics</label>
              </div>
              <div class="flex col-span-6 gap-2 items-center">
                <p-radiobutton id="category4" name="category" value="Fitness" [(ngModel)]="product.category" />
                <label for="category4">Fitness</label>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-6">
              <label for="amount" class="block mb-3 font-bold">Valor</label>
              <p-inputnumber
                id="amount"
                [(ngModel)]="transaction.amount"
                mode="currency"
                currency="BRL"
                locale="pt-BR"
                fluid
              />
            </div>
            <div class="col-span-6">
              <label for="date" class="block mb-3 font-bold">Data</label>
              <p-calendar id="date" [(ngModel)]="transaction.date" fluid />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveTransaction()" />
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
  </div>
}
