<div class="card">
  <p-table
    [value]="transactions"
    [paginator]="true"
    [rows]="10"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
  >
    <ng-template #header>
      <tr>
        <th style="width: 4%">#</th>
        <th style="width: 22%">Tipo</th>
        <th style="width: 22%">Valor</th>
        <th style="width: 22%">Data</th>
        <th style="width: 22%">Categoria</th>
      </tr>
    </ng-template>
    <ng-template #body let-transaction>
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.type | titlecase }}</td>
        <td>
          {{ transaction.amount | currency : "BRL" }}
        </td>
        <td>{{ transaction.date | date : "dd/MM/yyyy HH:mm" }}</td>
        <td>{{ transaction.category | titlecase }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
