<p-toolbar class="mb-6">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" class="mr-2" (onClick)="onNewTransactionClick()" />
    <p-button
      severity="danger"
      label="Deletar"
      icon="pi pi-trash"
      outlined
      (onClick)="onDeleteSelectedTransactionsClick()"
      [disabled]="!selectedTransactions() || !selectedTransactions().length"
    />
  </ng-template>

  <ng-template #center>
    <p-iconfield class="mr-2">
      <p-inputicon class="pi pi-search" />
      <input pInputText type="text" placeholder="Pesquisar..." (input)="onSearchInput.emit($event)" />
    </p-iconfield>
  </ng-template>

  <ng-template #end>
    <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="onExportCsvClick()" />
  </ng-template>
</p-toolbar>
