<p-toolbar class="mb-6">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
    <p-button
      severity="danger"
      label="Deletar"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteSelectedTransactions()"
      [disabled]="!selectedTransactions || !selectedTransactions.length"
    />
  </ng-template>

  <ng-template #end>
    <p-iconfield class="mr-2">
      <p-inputicon class="pi pi-search" />

      <!-- TODO: Emitir um evento que emita a busca do usuário e aplicar debounce -->
      <!-- (input)="dt.filterGlobal($any($event).target.value, 'contains')" -->

      <!-- TODO: Também preciso corrigir o estilo do input, que quebrou -->
      <input pInputText type="text" placeholder="Pesquisar..." />
    </p-iconfield>
    <p-fileUpload
      mode="basic"
      accept="image/*"
      [maxFileSize]="1000000"
      label="Importar"
      chooseLabel="Importar"
      auto
      customUpload
      class="inline-block mr-2"
      [chooseButtonProps]="{ severity: 'secondary' }"
    />
    <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>
