<div class="container">
  <div class="content">
    <div id="drop-area" #dropArea (dragover)="handleDragOver($event)" (drop)="handleFileDrop($event)">
      @if (arrObjArchive.length == 0) {
        <div>
          <p class="main-text">Arraste um arquivo para cá</p>
          <p class="secondary-text">Ou, se preferir...</p>
        </div>
      }

      @if (arrObjArchive.length != 0) {
        <div class="content-preview">
          <div *ngFor="let archive of arrObjArchive; let j = index" class="square-img">
            @if (archive.tpdocume == 2) {
              <iframe [src]="archive.source" width="170px" height="220px" frameborder="0"> </iframe>
            } @else {
              <img [src]="archive.source" id="img-view" alt="Anexo" (click)="zoomImage(archive.source)" />
            }

            <div class="close-img" (click)="removeImg(j)" [ngStyle]="{ top: archive.tpdocume == 2 ? '108px' : '60px' }">
              <i class="pi pi-times"></i>
            </div>
          </div>

          @if (arrObjArchive.length > 0 && maxItems > arrObjArchive.length) {
            <label
              class="square-add"
              for="input-file"
              [ngStyle]="{ width: '200px', 'font-size': '14px', height: '220px' }"
            >
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20" fill="#525354">
                  <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                  />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30" height="30" fill="#525354">
                  <path
                    d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
                  />
                </svg>
              </div>
              <br />
              <p>
                Deseja adicionar uma nova imagem ou PDF? <br /><strong>Clique aqui</strong> para selecionar do seu
                computador
              </p>
            </label>
          }
        </div>
      }
    </div>

    @if (arrObjArchive.length == 0) {
      <label class="button-upload" for="input-file">
        <i class="pi pi-upload"></i>
        <div>Escolha um arquivo do computador para fazer upload</div>
      </label>
    }

    <input type="file" [accept]="typeAccepted" id="input-file" hidden #inputFile (change)="onSelectFile($event)" />
  </div>
</div>
