#drop-area{
    width: 90%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    font-size: 20px;
}

.content{
    border: 4px dashed #b1b3b5;
    color: #525354;
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    justify-content : center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 195px;
}

#img-view{
    min-width: 200px;
    min-height: 175px;
    max-width: 200px;
    max-height: 175px;
    background-position: center;
    background-size: cover;
    gap: 22px;
    font-size: 15px;
    flex-direction: column;
    margin-bottom: 0;
    border-radius: 5px;
}

.square-add{
    border: 2.5px dashed #b1b3b5;
    animation: appear 1s ease-in-out forwards;
    background-position: center;
    background-size: cover;
    display: flex ;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    flex-direction: column;
    margin-bottom: 0;
    border-radius: 5px;
}

.content-preview{
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.square-img{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease-in-out forwards;
}

.main-text{
    color: #00386C;
    font-size: 28px;
    font-weight: 600;
}

.button-upload {
    text-align: center;
    background: #00386C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    width: 520px;
    border-radius: 10px;
    height: 35px;
    align-self: center;
    gap: 35px;
    margin-bottom: 10px;
}

.icon-upload{
    width: 5%;
    cursor: pointer;
}

.close-img{
    background-color: #ab1827;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    top: 108px;
    cursor: pointer;
}

.close-img:hover{
    background-color: #4f060e;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}