.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop-area{
    width: 90%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--p-gray-100);
    border-radius: 20px;
    font-size: 20px;
}

.content{
    border: 4px dashed var(--p-neutral-300);;
    color: #525354;
    background-color: var(--p-gray-100);
    width: 100%;
    display: flex;
    justify-content : center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 270px
}

#img-view{
    width: 150px;
    height: 125px;
    background-position: center;
    background-size: cover;
    font-size: 15px;
    margin-bottom: 0;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.square-add{
    border: 2.5px dashed #b1b3b5;
    animation: appear 1s ease-in-out forwards;
    background-position: center;
    background-size: cover;
    display: flex ;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    flex-direction: column;
    margin-bottom: 0;
    border-radius: 5px;
}

.content-preview{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.square-img{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease-in-out forwards;
}

.main-text{
  font-size: 20px;
  font-weight: 600;
}

.secondary-text {
  font-size: 16px;
}

.button-upload {
    text-align: center;
    background: var(--p-emerald-500);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    width: 520px;
    border-radius: 10px;
    height: 35px;
    align-self: center;
    gap: 35px;
    margin-bottom: 10px;
}

.icon-upload{
    width: 5%;
    cursor: pointer;
}

.close-img{
    background-color: var(--p-red-700);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    cursor: pointer;
}

.close-img:hover{
    background-color: var(--p-red-900);
}

.imagem-modal img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}