<div class="card">
  <p-toast />

  <app-transactions-list-header-toolbar
    [selectedTransactions]="selectedTransactions()"
    (onNewTransactionClicked)="openNewTransactionDialog()"
    (onDeleteSelectedTransactionsClicked)="deleteMultipleTransactions()"
    (onSearchInput)="onSearchInput($event)"
    (onExportCsvClicked)="onExportCsvClicked()"
    (onFiltersClear)="onFiltersClear()"
  />

  <p-table
    #dt
    [value]="transactions()"
    [rows]="10"
    [columns]="cols()"
    [paginator]="true"
    [globalFilterFields]="['type', 'amount', 'date', 'category.name']"
    [(selection)]="selectedTransactions"
    [rowHover]="true"
    dataKey="id"
    [totalRecords]="transactions().length"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} transações"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox /></th>

        @for (col of cols(); track col.field) {
          <th pSortableColumn="{{ col.field }}">
            <div class="flex gap-2 items-center">
              {{ col.header }}
              <p-sortIcon field="{{ col.field }}" />
              <p-columnFilter
                [type]="col.field.includes('amount') ? 'numeric' : col.field === 'date' ? 'date' : 'text'"
                field="{{ col.field }}"
                [currency]="col.field.includes('amount') ? 'BRL' : undefined"
                display="menu"
                class="ml-auto"
              />
            </div>
          </th>
        }

        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td><p-tableCheckbox [value]="transaction" /></td>
        <td><p-tag [value]="transaction.type" [severity]="getTransactionTypeColor(transaction.type)" /></td>
        <td>{{ transaction.amount | currency: 'BRL' }}</td>
        <td>{{ transaction.category.name | titlecase }}</td>
        <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
        <td class="flex pr-4 justify-content-end">
          <p-button icon="pi pi-pencil" class="mr-2" rounded outlined (click)="editTransaction(transaction)" />
          <p-button
            icon="pi pi-upload"
            severity="secondary"
            class="mr-2"
            rounded
            outlined
            (click)="openUploadTransaction(transaction)"
          />
          <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="deleteTransaction(transaction)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-dialog-transaction-form
    [isVisible]="dialogState().visible"
    [isEditing]="dialogState().isEditing"
    [transactionToBeUpdated]="currentTransaction()"
    (onHide)="hideTransactionDialog()"
    (onSave)="saveTransaction($any($event))"
  />

  <app-dialog-uploader
    [isVisible]="dialogUploaderState().visible"
    [transaction]="currentTransaction()"
    (onHide)="hideUploadDialog()"
    (onSave)="saveUpload()"
  />

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
