<div class="card">
  <p-toast />

  <app-transactions-list-header-toolbar
    [selectedTransactions]="selectedTransactions()"
    (onNewTransactionClicked)="openNewTransactionDialog()"
    (onDeleteSelectedTransactionsClicked)="deleteMultipleTransactions()"
    (onSearchInput)="onSearchInput($event)"
    (onExportCsvClicked)="onExportCsvClicked()"
  />

  <p-table
    #dt
    [value]="transactions()"
    [rows]="10"
    [columns]="cols()"
    [paginator]="true"
    [globalFilterFields]="['type', 'amount', 'date', 'category']"
    [(selection)]="selectedTransactions"
    [rowHover]="true"
    dataKey="id"
    [totalRecords]="transactions().length"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} transações"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox /></th>

        @for (col of cols(); track col.field) {
          <th pSortableColumn="{{ col.field }}">
            <div class="flex gap-2 items-center">
              {{ col.header }}
              <p-sortIcon field="{{ col.field }}" />
              <p-columnFilter
                [type]="col.field === 'amount' ? 'numeric' : col.field === 'date' ? 'date' : 'text'"
                field="{{ col.field }}"
                display="menu"
                class="ml-auto"
              />
            </div>
          </th>
        }

        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td><p-tableCheckbox [value]="transaction" /></td>
        <td>{{ transaction.id | slice: 0 : 4 }}...</td>
        <td><p-tag [value]="transaction.type" [severity]="getTransactionTypeColor(transaction.type)" /></td>
        <td>{{ transaction.amount.toString() }}</td>
        <td>{{ transaction.category | titlecase }}</td>
        <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="mr-2" rounded outlined (click)="editTransaction(transaction)" />
          <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="deleteTransaction(transaction)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="dialogState().visible"
    [style]="{ width: '450px' }"
    [header]="dialogTitle()"
    [modal]="true"
    (onHide)="hideTransactionDialog()"
  >
    <ng-template pTemplate="content">
      <app-transaction-form [transaction]="currentTransaction()" (transactionChange)="onTransactionChange($event)" />
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancelar" icon="pi pi-times" text (click)="hideTransactionDialog()" />
      <p-button label="Salvar" icon="pi pi-check" (click)="saveTransaction()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
