<p-toolbar class="mb-6">
  <ng-template #start>
    <div style="min-width: 216px">
      <p-button label="Nova" icon="pi pi-plus" class="mr-2" (onClick)="onNewTransactionClick()" />
      <p-button
        severity="danger"
        label="Deletar"
        icon="pi pi-trash"
        class="mr-2"
        outlined
        (onClick)="onDeleteSelectedTransactionsClick()"
        [hidden]="!selectedTransactions() || !selectedTransactions().length"
      />
    </div>
  </ng-template>

  <ng-template #center>
    <p-iconfield class="w-full">
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        type="text"
        placeholder="Pesquisar..."
        [(ngModel)]="searchInput"
        (input)="onSearchInput.emit($event)"
        class="w-full"
      />
    </p-iconfield>
  </ng-template>

  <ng-template #end>
    <p-button
      class="mr-2 w-full"
      severity="warn"
      [outlined]="true"
      icon="pi pi-filter-slash"
      (click)="onFiltersClear()"
    />
    <p-button icon="pi pi-download" severity="secondary" (onClick)="onExportCsvClick()" />
  </ng-template>
</p-toolbar>
