<p-dialog
  [visible]="isVisible()"
  (visibleChange)="hideDialog()"
  [style]="{ width: '450px' }"
  [header]="dialogTitle()"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <form [formGroup]="transactionForm" class="flex flex-col gap-4">
      <div class="flex gap-3">
        <div>
          <label for="amount" class="block mb-2 font-bold">Valor</label>
          <p-inputnumber id="amount" formControlName="amount" mode="currency" currency="BRL" locale="pt-BR" fluid />
          @if (amountInvalid()) {
            <p-message severity="error" size="small" variant="simple">Valor é obrigatório.</p-message>
          }
        </div>

        <div>
          <label for="date" class="block mb-2 font-bold">Data</label>
          <p-datepicker id="date" formControlName="date" fluid dateFormat="dd/mm/yy" appendTo="body" />
          @if (dateInvalid()) {
            <p-message severity="error" size="small" variant="simple">Data é obrigatória.</p-message>
          }
        </div>
      </div>

      <div>
        <label for="type" class="block mb-2 font-bold">Tipo da transação</label>
        <p-select
          [options]="transactionTypes"
          formControlName="type"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione o tipo da transação"
          appendTo="body"
          class="w-full md:w-56"
        />
        @if (typeInvalid()) {
          <p-message severity="error" size="small" variant="simple">Tipo é obrigatório.</p-message>
        }
      </div>

      <div>
        <label for="categoryId" class="block mb-2 font-bold">Categoria</label>
        <p-select
          [options]="categories()"
          formControlName="categoryId"
          optionLabel="name"
          optionValue="id"
          placeholder="Selecione sua categoria"
          appendTo="body"
          class="w-full md:w-56"
        />
        @if (categoryInvalid()) {
          <p-message severity="error" size="small" variant="simple">Categoria é obrigatória.</p-message>
        }
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Salvar" icon="pi pi-check" (click)="saveTransaction()" />
  </ng-template>
</p-dialog>
