<p-dialog
  [visible]="isVisible()"
  (visibleChange)="onHide.emit()"
  [style]="{ width: '775px', height: '450px' }"
  [header]="'Anexos'"
  [modal]="true"
>
  <ng-template pTemplate="content">
    @if (!loading) {
      <app-uploader
        (returnFiles)="storeFiles($event)"
        (downloaded)="filesFromS3($event)"
        [transaction]="transaction()"
      ></app-uploader>
    } @else {
      <div class="w-full h-full flex items-center justify-center">
        <p-progressSpinner></p-progressSpinner>
      </div>
    }
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button label="Cancelar" icon="pi pi-times" text (click)="onHide.emit()" />
    <p-button label="Salvar" icon="pi pi-check" (click)="saveTransaction()" />
  </ng-template>
</p-dialog>
